@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

.item-menu {
    color: #000000;
    font-size: 20px;
}

.menu {
    display: flex;
    flex-direction: row;
    margin: 20px 0px 20px 70px;
}

.signup{
    color: #eeeee4;
    background-color: #000000;
    border-radius: 10px;
    padding: 15px;
    font-size: 25px;
}

#nav {
    display: flex;
    gap: 60px; 
    margin-left: 40%; 
    padding: 10px;
}

.cabecalho {
    display: flex;
    background-color: #eeeee4;
    border-radius: 100px;
    margin: 50px;
}

.imagem-header {
    display: flex;
    margin-left: 500px;
    width: 30%; 
    height: auto; 
    max-width: 100%; /* garante que a imagem não exceda o contêiner */
}

.titulo-header {
    font-size: 85px;
    max-width: 10px;
    line-height:100px;
    margin-top: 100px;
    margin-left: 110px;
}

.paragrafo-header {
    font-size: 30px;
    margin-left:110px;
    margin-top: 30px;
}

.button-header {
    background-color: #000000;
    color: #eeeee4;
    border-radius: 40px;
    margin-left: 110px;
    margin-top: 30px;
    font-size: 30px;
    padding: 20px;
}

.UNIQUE{
    background-color: #f7e887;
    border-radius: 5px;
    width: 450px;
    padding-left: 20px;
    margin-left: -1rem;
}

.marcas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f7e887;
    padding: 35px;
}

.marca-logo {
    width: 1000px; 
    height: 100px; 
    margin-left: 90px;
    margin-right: 90px;
    object-fit: contain; /* garantindo que a imagem se ajuste dentro do contêiner*/
    margin: 10px; 
}

.new-arrivals{
    color: #000000;
    font-size: 60px;
    margin: 80px 0px 70px 80px;
}

.card-arrivals {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
}

.card-unidade-arrivals, .card-unidade-young {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    gap: 30px ;
}

.explore, .explore-young{
    font-size: 20px;
    padding-left: 20px;
    background-color: #f7e887;
    width: 160px;
    padding: 15px;
    border-radius: 10px;
}

.payday {
    display: flex;
    margin-top: 80px;
    background-color: #f7e887;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 300px; 
}

.imagem-payday {
    width: 600px; 
    height: auto; 
    margin-left: 200px;
}

.titulo-payday{
    font-size: 100px;
    line-height: 120px;
}

.texto-payday {
    font-size: 25px;
    width: 490px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex: 1; /* o texto ovai ocupar o restante do espaço disponível */
}


.termos-payday{
    margin-top: 10px;
    margin-left: 10px;
}

.button-payday{
    background-color: #000000;
    color: #eeeee4;
    border-radius: 5px;
    padding: 20px;
    margin-top: 30px;
    font-size: 30px;
}

.young-favourite{
    color: #000000;
    font-size: 60px;
    margin: 80px 0px 70px 80px;
}

.cards-young{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
}

.mobile{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-right: 200px;
    margin-left: 300px;
}

.texto-mobile{
    display: flex;
    flex-direction: column;
    margin-top: 250px;
    margin-right: 400px;
    gap: 20px;
    font-size: 35px;
}

.titulo-mobile{
    font-size: 50px;
}

.stores{
    display: flex;
    flex-direction: row;
}

.formulario{
    background-color: #e4d368;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 200px;
    font-size: 35px;
    gap: 30px;
    color:#fff;
    flex-wrap: wrap;
}

.titulo-formulario{
    font-size: 65px;
}

.formulario input[type="text"] {
    padding: 20px;
    width: 400px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
}

.formulario input[type="button"] {
    padding: 20px 20px;
    border-radius: 5px;
    border: none;
    background-color: #000; 
    color: #fff; 
    cursor: pointer;
    font-size: 20px;
}

.footer{
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding:100px 500px 100px 500px;
    gap: 400px;
    font-size: 10px;
}

.texto-footer{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.redes-sociais{
    display: flex;
    gap: 10px;
}

.logo-branco{
    width: 200px;
    height: auto;
}

.links-footer{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    color: #ccc;
    gap: 20px;
}

.links-footer a {
    color: #ccc;
}

@media screen and (max-width: 1957px) {

    .mobile{
        padding-top: 1;
    }

    .imagem-celular{
        padding-bottom: 100px;
    }

    .texto-mobile{
        margin-right: 200px;
    }

    .cards-young{
        gap: 70px;
    }
}

@media screen and (max-width: 1833px){
       
    #nav {
        gap: 30px; 
        margin-left: auto; 
    }

    .signup{
        margin-left: auto;
        margin-right: 80px;
    }

    .marcas{
        overflow: hidden;
    }

    .imagem-celular{
        padding-bottom: 100px;
    }

    .texto-mobile{
        margin-top: 170px;
        margin-right: 100px;
    }

    .cards-young{
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .card-arrivals{
        justify-content: center;
        gap: 100px;
    }

    .payday{
        gap: 30px;
    }
    .titulo-payday{
        font-size: 80px;
        line-height: 80px;
    }

    .texto-payday{
        font-size: 20px;
    }

    .button-payday{
        font-size: 20px;
        padding: 20px;
    }

    .payday img{
        width: 600px;
    }

    #card1{
        display: none;
    }

    #slide-second{
        display: none;
    }

    .footer{
        display: flex;
        flex-direction: row;
    }

    .imagem-header {
        display: flex;
        margin-right: 100px;
        margin-left: auto;
        width: 30%; 
        height: auto; 
        max-width: 100%; /* garante que a imagem não exceda o contêiner */
    }

}

@media screen and (max-width: 1446px){
    .mobile img{
        width: 50%;
    }
    
    .texto-mobile{
        font-size: 20px;
    }

    .titulo-mobile{
        font-size: 30px;
    }
}

@media screen and (max-width: 1267px){
    .cabecalho img{
        display: none;
    }

    .cabecalho{
        display: flex;
        justify-content: center;
        padding-bottom: 100px;
    }

    .mobile{
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .texto-mobile{
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 70px;
        gap: 20px;
        font-size: 30px;
    }

    .imagem-celular{
        display: none;
    }

    .stores{
        width: 40%;
    }
    
    .titulo-mobile{
        font-size: 30px;
    }

    .payday img{
        width: 400px;
        margin-left: 30px;
    }

    .titulo-payday{
        font-size: 70px;
        line-height: 85px;
    }

    .texto-payday{
        font-size:20px;
    }

    .button-payday{
        padding: 10px;
        font-size: 20px;
    }

    .footer{
        padding:100px 50px 50px 50px;
        gap: 50px;
    }

}

@media screen and (max-width: 1031px){

    #nav { 
        display: none;
    }

    #card2{
        display: none;
    }
    
    .texto-payday{
        width: auto;
    }

    .titulo-formulario{
        font-size: 40px;
    }

    .formulario{
        padding: 50px;
        font-size: 20px;
        gap: 20px;
    }

    .titulo-formulario{
        font-size: 30px;
    }

    .formulario input[type="text"] {
        padding: 10px;
        width: 300px;
    }

    .formulario input[type="button"] {
        padding: 10px 10px;
    }    

    .card-unidade-young img {
        width: 100%;
    }

    .card-unidade-young{
        align-items: center;
    }

    .card-unidade-arrivals{
        align-items: center;
    }

    .young-favourite{
        font-size: 40px;
        text-align: center
    }

    .cabecalho {
        border-radius: 30px;
        margin: 20px;
        text-align: center;
        padding-right: 100px;
    }
    
    .titulo-header {
        font-size: 80px;
        line-height: 100px;
        max-width: 100%; /* Remover limite para largura máxima */
        text-align: center; /* Garante que o texto esteja alinhado à esquerda */
    }
    
    .paragrafo-header {
        font-size: 20px;
    }
    
    .UNIQUE{
        margin-left: 50px;
        padding: 0px;
        width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .menu{
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .mobile{
            margin-top: 100px;
            margin-right: 30px;
            margin-left: 30px;
    }

    .texto-mobile {
        text-align: center;
        align-items: center; 
        justify-content: center;
        justify-items: center;
        font-size: 20px;
        width: auto;
        margin-right: 90;
        margin-top: auto;
    }

    .imagem-payday{
        display: none;
    }
    
    .payday{
        padding: 50px 100px 50px 100px;
        text-align: center;
    }
}

@media screen and (max-width: 480px){
    .card-unidade-arrivals img{
        width: 100%;
    }

    .footer{
        flex-direction: column;
    }
    
}